<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">

    <title>Outtechの日常手記</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-sm fixed-top page-color p-2" data-bs-theme="dark">
        <a class="navbar-brand" href="/">Outtechの日常手記</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blogs</a>
                </li>
            </ul>
        </div>
    </nav>

    <div style="padding: 1.75rem;"></div>

    <div class="card text-bg-dark d-none d-sm-block" style="border-radius: 0;">
        <img src="/static/image/header.jpg" class="img-fluid">
        <div class="card-img-overlay text-body">
            <p class="card-text">〜技術・趣味などをスローペースで投稿〜</p>
        </div>
    </div>

    <!-- Start of page main -->

    <main class="container">
        {{template "content" .}}
    </main>

    <!-- End of page main -->

    <footer class="fixed-bottom text-center text-white page-color">
        <small>&copy; 2024 Outtech105</small>
        <small class="d-none d-sm-inline">All Rights Reserved.</small>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>